# local --------------------------------------------------------

EXAMPLE_VAR=local_value
MYSQL_DATABASE_URL=mysql://user:senha@127.0.0.1:3306/app

# dev ---------------------------------------------------------

#EXAMPLE_VAR=dev_value
#MYSQL_DATABASE_URL=mysql://user:senha@127.0.0.1:26524/app

# hom --------------------------------------------------------

#EXAMPLE_VAR=hom_value
#MYSQL_DATABASE_URL=mysql://user:senha@127.0.0.1:26524/app

# prod --------------------------------------------------------

#EXAMPLE_VAR=prod_value
#MYSQL_DATABASE_URL=mysql://user:senha@127.0.0.1:26524/app
